@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #161f48;
  --white: #ffffff;
  --gold: #d6b35f;
  --lightlightgrey: #f2f2f2;
  --grey: #6e6b60;
  --lightgrey: #dcdee1;
  --black: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: var(--lightlightgrey);
  margin: 0;
  padding: 0;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
}
