# Ignora tutto di default
*

# Tieni traccia di quello che ci serve
!.gitignore
!wp-content/
!wp-content/**

# Escludi cose che NON vanno versionate
wp-content/uploads/
wp-content/cache/
wp-content/wflogs/

# Plugin: ignoriamo tutto
wp-content/plugins/*

# ...ma includiamo SOLO i nostri
!wp-content/plugins/elementor_addons

# Config sensibile (non va mai in Git)
wp-config.php

# OS/Editor
.DS_Store
.idea/
.vscode/

# Local (se presente)
.local/

